<div class="main-content-container">
    <div class="section-container">
        <form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">
            <div class="form-container">

                <div class="w-full col-span-6 p-2 border-b-2 text-center relative">
                    <h1>Cadastro Categoria</h1>
                </div>

                <div class="input-container-lg">
                    <label class="label-form">Nome categoria
                        <input 
                            type="text" 
                            class="input-form" 
                            placeholder="Nome categoria"
                            [(ngModel)]="categoria.nome"
                            formControlName="nome"
                            [ngClass]="{'input-error': nome?.invalid && nome?.touched,}"
                        />
                    </label>

                    <span *ngIf="nome?.invalid && nome?.touched" class="error-message">
                        Preencha o nome da categoria!
                    </span>

                </div>

                <div class="input-container-lg">
                    <button type="submit" [disabled]="isLoading" class="btn btn-primary w-full">
                        {{ isLoading ? 'Editando...' : 'Editar' }}
                    </button>
                    <button class="btn btn-secondary w-full" type="button" [routerLink]="['/categorias']">
                        Voltar
                    </button>
                </div>
            </div>
        </form>
    </div>
    
</div>