<section
  class="flex flex-col min-h-screen bg-opacity-100 bg-gray-900 justify-center items-center"
>
  <div class="flex flex-col w-2/4 gap-y-6 mx-auto max-w-3xl px-6 py-16">
    <app-breadcrumb [paths]="paths"></app-breadcrumb>

    <h2 class="text-2xl font-semibold p-0 dark:text-white">
      Finalizar Solicitação #{{ id }}
    </h2>

    <!-- Product -->
    <div>
      <h3 class="font-bold dark:text-white">Produto:</h3>
      <div
        class="w-full bg-gray-400/5 px-6 py-4 border rounded-md dark:border-white/5"
      >
        <table class="table-auto w-full dark:text-white">
          <tbody>
            <tr>
              <td class="font-bold pr-4 whitespace-nowrap align-top text-right">
                Data da solicitação:
              </td>
              <td class="align-top text-left">
                {{ solicitacao.dtHrCriacao | date : "dd/MM/yyyy 'às' HH:mm:ss" }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Estado:
              </td>
              <td class="align-top text-left pt-4">
                {{ solicitacao.estadoAtual}}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Categoria:
              </td>
              <td class="align-top text-left pt-4">
                {{ solicitacao.categoria?.nome }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Descrição do produto:
              </td>
              <td class="align-top text-left pt-4">
                {{ solicitacao.descricaoEquipamento }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Descrição do defeito:
              </td>
              <td class="align-top text-left pt-4">
                {{ solicitacao.descricaoProblema }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- client -->
    <div>
      <h3 class="font-bold dark:text-white">Cliente:</h3>
      <div
        class="w-full bg-gray-400/5 px-6 py-4 border rounded-md dark:border-white/5"
      >
        <table class="table-auto w-full dark:text-white">
          <tbody>
            <tr>
              <td class="font-bold pr-4 whitespace-nowrap align-top text-right">
                Nome:
              </td>
              <td class="align-top text-left">{{ solicitacao.cliente?.nome }}</td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Email:
              </td>
              <td class="align-top text-left pt-4">{{ solicitacao.cliente?.email }}</td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Telefone:
              </td>
              <td class="align-top text-left pt-4">
                {{ solicitacao.cliente?.celular }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                CPF:
              </td>
              <td class="align-top text-left pt-4">{{ solicitacao.cliente?.cpf }}</td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Endereço:
              </td>
              <td class="align-top text-left pt-4">
                {{ solicitacao.cliente?.endereco }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                CEP:
              </td>
              <td class="align-top text-left pt-4">{{ solicitacao.cliente?.cep }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- orçamento -->
    <div
      class="flex flex-col items-center justify-center w-full max-w-2xl px-6 py-4 gap-4 border rounded-md bg-gray-400/5 dark:border-white/5"
    >
      <h5 class="font-bold dark:text-white">
        Deseja realmente finalizar esta solicitação?
      </h5>

      <div class="flex flex-row gap-10">
        <button
          class="pill-grey"
          [routerLink]="['/solicitacoes/listar']"
        >
          Cancelar
        </button>
        <button class="pill-purple" (click)="finalizarSolicitacao()">
          Finalizar solicitação
        </button>
      </div>
    </div>
  </div>
</section>
