<section
  class="flex flex-col min-h-screen bg-opacity-100 bg-gray-900 justify-center items-center"
>
  <div class="max-w-screen-sm w-full flex flex-col">
    <div class="flex flex-col gap-y-6">
      <h2 class="dark:text-white">Nova solicitação de manutenção</h2>

      <form (ngSubmit)="onSubmit()" class="flex flex-col gap-5">
        <div class="flex flex-col gap-2">
          <label class="label-form dark:text-white" for="descricaoEquipamento"
            >Descrição do equipamento:</label
          >
          <textarea
            class="input-form"
            id="descricaoEquipamento"
            name="descricaoEquipamento"
            [(ngModel)]="solicitacao.descricaoEquipamento"
            required
          ></textarea>
        </div>

        <div class="flex flex-col gap-2">
          <label class="label-form dark:text-white" for="categoria"
            >Categoria do equipamento:</label
          >
          <select
            class="input-form"
            id="categoria"
            name="categoria"
            [(ngModel)]="solicitacao.categoria"
            required
          >
            <option
              *ngFor="let categoria of categorias"
              [ngValue]="categoria"
            >
              {{ categoria.nome }}
            </option>
          </select>
        </div>

        <div class="flex flex-col gap-2">
          <label class="label-form dark:text-white" for="descricaoDefeito"
            >Descrição do defeito:</label
          >
          <textarea
            class="input-form"
            id="descricaoDefeito"
            name="descricaoDefeito"
            [(ngModel)]="solicitacao.descricaoProblema"
            required
          ></textarea>
        </div>

        <div class="flex flex-row-reverse">
          <button class="btn btn-primary" type="submit">Solicitar</button>
        </div>
      </form>
    </div>
  </div>
</section>
