<div class="main-content-container">
    <div class="section-container">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-container">

                <div class="w-full col-span-6 p-2 border-b-2 text-center relative">
                    <h1>Cadastro</h1>
                </div>

                <div class="input-container-md">
                    <label class="label-form" for="cpf">CPF
                        <input 
                            type="text" 
                            class="input-form" 
                            placeholder="000.000.000-00"
                            mask="000.000.000-00"
                            formControlName="cpf"
                            [ngClass]="{'input-error': cpf?.invalid && cpf?.touched,}"
                        />
                    </label>

                    <span *ngIf="cpf?.invalid && cpf?.touched" class="error-message">
                        CPF inválido!
                    </span>

                </div>

                <div class="input-container-md">
                    <label class="label-form">Nome completo
                        <input 
                            type="text" 
                            class="input-form" 
                            placeholder="Nome completo"
                            formControlName="nome"
                            [ngClass]="{'input-error': nome?.invalid && nome?.touched,}"
                        />
                    </label>

                    <span *ngIf="nome?.invalid && nome?.touched" class="error-message">
                        Nome incompleto!
                    </span>

                </div>

                <div class="input-container-md">
                    <label class="label-form">E-mail
                        <input 
                            type="email" 
                            class="input-form" 
                            placeholder="email@exemplo.com"
                            formControlName="email"
                            [ngClass]="{'input-error': email?.invalid && email?.touched,}"
                        />
                    </label>

                    <span *ngIf="email?.invalid && email?.touched" class="error-message">
                        E-mail obrigatório!
                    </span>

                </div>

                <div class="input-container-md">
                    <label class="label-form">Celular com DDD
                        <input 
                            type="text" 
                            class="input-form"
                            mask="(00) 0 0000-0000"
                            placeholder="(00) 0 0000-0000" 
                            formControlName="celular"
                            [ngClass]="{'input-error': celular?.invalid && celular?.touched,}"
                        />
                    </label>

                    <span *ngIf="celular?.invalid && celular?.touched" class="error-message">
                        Celular inválido!
                    </span>

                </div>

                <div class="input-container-md">
                    <label class="label-form relative">CEP
                        <input 
                            type="text" 
                            class="input-form" 
                            mask="00.000-000"
                            placeholder="00.000-000"
                            formControlName="cep"
                            [ngClass]="{'input-error': cep?.invalid && cep?.touched,}"
                        />
                        <fa-icon [icon]="faLoading" *ngIf="loadingCep"  animation="spin" class="absolute"></fa-icon>
                    </label>
                    <span *ngIf="cep?.invalid && cep?.touched" class="error-message">
                        CEP inválido!
                    </span>

                </div>

                <div class="input-container-md">
                    <label class="label-form">Endereço
                        <input 
                            type="text" 
                            class="input-form"
                            placeholder="Logradouro"
                            formControlName="endereco"
                            [ngClass]="{'input-error': endereco?.invalid && endereco?.touched,}" 
                        />
                    </label>
                    
                    <span *ngIf="endereco?.invalid && endereco?.touched" class="error-message">
                        Endereço inválido!
                    </span>

                </div>

                <div class="input-container-sm">
                    <label class="label-form">Bairro
                        <input 
                            type="text"
                            class="input-form" 
                            placeholder="Bairro"
                            formControlName="bairro"
                            [ngClass]="{'input-error': bairro?.invalid && bairro?.touched,}"
                        /> 
                    </label>

                    <span *ngIf="bairro?.invalid && bairro?.touched" class="error-message">
                        Bairro inválido!
                    </span>

                </div>

                <div class="input-container-sm">
                    <label class="label-form">Cidade
                        <input 
                            type="text" 
                            class="input-form" 
                            placeholder="Cidade"
                            formControlName="cidade"
                            [ngClass]="{'input-error': cidade?.invalid && cidade?.touched,}"    
                        /> 
                    </label>

                    <span *ngIf="cidade?.invalid && cidade?.touched" class="error-message">
                        Preencha corretamente o campo cidade
                    </span>

                </div>

                <div class="input-container-sm">
                    <label class="label-form">Estado
                        <input 
                            type="text" 
                            class="input-form" 
                            placeholder="UF"
                            formControlName="estado"
                            [ngClass]="{'input-error': estado?.invalid && estado?.touched,}"    
                        /> 
                    </label>

                    <span *ngIf="estado?.invalid && estado?.touched" class="error-message">
                        Estado inválido!
                    </span>

                </div>

                <div class="input-container-lg">
                    <button type="submit" [disabled]="isLoading" class="btn btn-primary w-full">
                        {{ isLoading ? 'Cadastrando...' : 'Finalizar cadastro' }}
                    </button>
                    <button type="submit" class="btn btn-secondary w-full">
                        Já uma tenho conta
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>