<div class="main-content-container">
    <div class="section-container">
        <h1>Cadastro</h1>
        <form>
            <div class="form-container">
                <div class="input-container-md">
                    <label class="label-form" for="cpf">CPF
                        <input type="text" class="input-form" />
                    </label>
                </div>

                <div class="input-container-md">
                    <label class="label-form" for="nomeCompleto">Nome<input type="text" class="input-form" />
                    </label>
                </div>

                <div class="input-container-md">
                    <label class="label-form">E-mail<input type="email" class="input-form" />
                    </label>
                </div>

                <div class="input-container-md">
                    <label class="label-form">Celular<input type="text" class="input-form" />
                    </label>
                </div>

                <div class="input-container-md">
                    <label class="label-form">CEP<input type="text" class="input-form" />
                    </label>
                </div>

                <div class="input-container-md">
                    <label class="label-form">Endereço<input type="text" class="input-form" />
                    </label>
                </div>

                <div class="input-container-sm">
                    <label class="label-form">Bairro<input type="text" class="input-form" /> </label>
                </div>

                <div class="input-container-sm">
                    <label class="label-form">Cidade<input type="text" class="input-form" /> </label>
                </div>

                <div class="input-container-sm">
                    <label class="label-form">Estado<input type="text" class="input-form" /> </label>
                </div>

                <div class="input-container-md">
                    <label class="label-form">Senha<input type="password" class="input-form" />
                    </label>
                </div>

                <div class="input-container-lg">
                    <button type="submit" class="btn btn-primary w-full">
                        Cadastrar
                    </button>
                    <button type="submit" class="btn btn-secondary w-full">
                        Já tenho conta
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>