<div class="sm:px-6 w-full">
    <div class="bg-white py-4 md:py-7 px-4 md:px-8 xl:px-10">
        <div class="sm:flex items-center justify-between">
            <div class="relative">
                <input type="text" (input)="ngOnChanges()" [(ngModel)]="filter" placeholder="Pesquisar..." class="pl-10 pr-4 py-2 w-full border rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-600 border-gray-100">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                    <svg class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.9 14.32a8 8 0 111.41-1.41l4.39 4.39a1 1 0 01-1.42 1.42l-4.39-4.39zM8 14a6 6 0 100-12 6 6 0 000 12z" clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
            <div class="flex items-center justify-between">
                <div class="py-3 px-4 flex items-center text-sm font-medium leading-none text-gray-600 bg-gray-200 hover:bg-gray-300 cursor-pointer rounded">
                    <select aria-label="select" class="focus:text-indigo-600 focus:outline-none bg-transparent ml-1" (change)="ngOnChanges()" [(ngModel)]="itensPorPagina">
                        <option class="text-sm text-indigo-800" value="5">5</option>
                        <option class="text-sm text-indigo-800" value="25">10</option>
                        <option class="text-sm text-indigo-800" value="25">25</option>
                    </select>
                    &nbsp;
                    <p>Registros por p&aacute;gina</p>
                </div>
            </div>
        </div>

        <div class="mt-7 overflow-x-auto">
            <table class="w-full whitespace-nowrap">
                <thead>                                            
                    <tr tabindex="0"  class="focus:outline-none h-16 border border-gray-100 rounded">
                        <th *ngFor="let coluna of colunas" (click)="sortByColumn(coluna.campo)" class="cursor-pointer max-w-48">
                            {{ coluna.titulo }}
                            <fa-icon [icon]="faArrowDown" class="opacity-45" [ngClass] = "{'active-sort': sortedColumn == coluna.campo && sortDirection == 'asc'}"></fa-icon>
                            <fa-icon [icon]="faArrowUp"   class="opacity-45" [ngClass] = "{'active-sort': sortedColumn == coluna.campo && sortDirection == 'desc'}"></fa-icon>
                        </th>
                        <th *ngIf="buttons.length > 0">A&Ccedil;&Atilde;O</th>
                    </tr>
                </thead>
                <tbody *ngIf="paginatedData.length > 0" >
                    <tr  *ngFor="let item of paginatedData" class="focus:outline-none h-16 border border-gray-100 rounded">
                        <td *ngFor="let coluna of colunas" class="text-center pl-5" >{{ item[coluna.campo] }}</td>
                        <td *ngIf="buttons.length > 0"  class="text-center pl-5">
                            <button *ngFor="let button of buttons" (click)="onButtonClick(button.action, item)" class="mx-2" [ngClass] = "button.class">
                                <div class="p-4" [innerHTML]="button.body"></div>
                            </button>
                        </td>
                    </tr>
                    
                    <!--<tr tabindex="0" class="focus:outline-none h-16 border border-gray-100 rounded">
                        <td class="">
                            <div class="flex items-center pl-5">
                                <p class="text-base font-medium leading-none text-gray-700 mr-2">Marcos Antônio da Silva</p>
                            </div>
                        </td>
                        
                        <td class="">
                            <div class="flex items-center">
                                <p class="text-sm leading-none text-gray-600 ml-2">marcosantonio&#64;gmail.com</p>
                            </div>
                        </td>
                        
                        <td class="">
                            <div class="flex items-center">
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M6 2a1 1 0 011 1v1h6V3a1 1 0 112 0v1h1a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V6a2 2 0 012-2h1V3a1 1 0 011-1zm10 6H4v8h12V8z" clip-rule="evenodd" />
                                </svg>
                                <p class="text-sm leading-none text-gray-600 ml-2">04/07</p>
                            </div>
                        </td>
                        
                        <td class="pl-4">
                            <button class="focus:ring-2 focus:ring-offset-2 focus:ring-red-300 text-sm leading-none text-gray-600 py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none">View</button>
                        </td>
                        
                        
                        <td>
                            <div class="relative px-5 pt-2">
                                <button class="focus:ring-2 rounded-md focus:outline-none" onclick="dropdownFunction(this)" role="button" aria-label="option">
                                    <svg class="dropbtn" onclick="dropdownFunction(this)" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <path d="M4.16667 10.8332C4.62691 10.8332 5 10.4601 5 9.99984C5 9.5396 4.62691 9.1665 4.16667 9.1665C3.70643 9.1665 3.33334 9.5396 3.33334 9.99984C3.33334 10.4601 3.70643 10.8332 4.16667 10.8332Z" stroke="#9CA3AF" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M10 10.8332C10.4602 10.8332 10.8333 10.4601 10.8333 9.99984C10.8333 9.5396 10.4602 9.1665 10 9.1665C9.53976 9.1665 9.16666 9.5396 9.16666 9.99984C9.16666 10.4601 9.53976 10.8332 10 10.8332Z" stroke="#9CA3AF" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M15.8333 10.8332C16.2936 10.8332 16.6667 10.4601 16.6667 9.99984C16.6667 9.5396 16.2936 9.1665 15.8333 9.1665C15.3731 9.1665 15 9.5396 15 9.99984C15 10.4601 15.3731 10.8332 15.8333 10.8332Z" stroke="#9CA3AF" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                                
                                <div class="dropdown-content bg-white shadow w-24 absolute z-30 right-0 mr-6 hidden">
                                    <div tabindex="0" class="focus:outline-none focus:text-indigo-600 text-xs w-full hover:bg-indigo-700 py-4 px-4 cursor-pointer hover:text-white">
                                        <p>Edit</p>
                                    </div>
                                    <div tabindex="0" class="focus:outline-none focus:text-indigo-600 text-xs w-full hover:bg-indigo-700 py-4 px-4 cursor-pointer hover:text-white">
                                        <p>Delete</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>-->
                </tbody>
                <tbody *ngIf="paginatedData.length == 0" >
                    <tr class="focus:outline-none h-16 border text-center border-gray-100 rounded ">
                        <td  colspan="100%" class="text-center pl-5 col-span-full" >Nenhum registro encontrado</td>
                    </tr>
                </tbody>
                
            </table>
            <div class="flex justify-between items-center mt-4">
                <button (click)="previousPage()" [disabled]="currentPage === 1" class="px-4 py-2 bg-gray-300 rounded-md">
                  Anterior
                </button>
                <span>P&aacute;gina {{currentPage}} de {{totalPages}}</span>
                <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="px-4 py-2 bg-gray-300 rounded-md">
                  Pr&oacute;ximo
                </button>
            </div>
        </div>
    </div>
</div>