<section
  class="flex flex-col min-h-screen bg-opacity-100 bg-gray-900 justify-center items-center"
>
  <div class="flex flex-col w-2/4 gap-y-6 mx-auto max-w-3xl px-6 py-16">
    <h2 class="text-white text-2xl font-semibold p-0">Efetuar Manutenção  #{{ id }}</h2>

    <!-- Product -->
    <div>
      <h3 class="text-white font-bold">Produto:</h3>
      <div
        class="w-full max-w-2xl bg-gray-400/5 px-6 py-4 border rounded-md bg-gray-400/5 border-white/5"
      >
        <table class="table-auto w-full text-white">
          <tbody>
            <tr>
              <td class="font-bold pr-4 whitespace-nowrap align-top text-right">
                Data da solicitação:
              </td>
              <td class="align-top text-left">
                {{
                  maintenanceData.product.dtHrCriacao
                    | date : "dd/MM/yyyy 'às' HH:mm:ss"
                }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Estado:
              </td>
              <td class="align-top text-left pt-4">
                {{ maintenanceData.product.status }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Categoria:
              </td>
              <td class="align-top text-left pt-4">
                {{ maintenanceData.product.categoria }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Descrição do produto:
              </td>
              <td class="align-top text-left pt-4">
                {{ maintenanceData.product.descricaoEquipamento }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Descrição do defeito:
              </td>
              <td class="align-top text-left pt-4">
                {{ maintenanceData.product.defectDescription }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- client -->
    <div>
      <h3 class="text-white font-bold">Cliente:</h3>
      <div
        class="w-full max-w-2xl bg-gray-400/5 px-6 py-4 border rounded-md bg-gray-400/5 border-white/5"
      >
        <table class="table-auto w-full text-white">
          <tbody>
            <tr>
              <td class="font-bold pr-4 whitespace-nowrap align-top text-right">
                Nome:
              </td>
              <td class="align-top text-left">
                {{ maintenanceData.client.name }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Email:
              </td>
              <td class="align-top text-left pt-4">
                {{ maintenanceData.client.email }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Telefone:
              </td>
              <td class="align-top text-left pt-4">
                {{ maintenanceData.client.phoneNumber }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                CPF:
              </td>
              <td class="align-top text-left pt-4">
                {{ maintenanceData.client.cpf }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Endereço:
              </td>
              <td class="align-top text-left pt-4">
                {{ maintenanceData.client.endereco }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Bairro:
              </td>
              <td class="align-top text-left pt-4">
                {{ maintenanceData.client.bairro }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Cidade:
              </td>
              <td class="align-top text-left pt-4">
                {{ maintenanceData.client.cidade }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                Estado:
              </td>
              <td class="align-top text-left pt-4">
                {{ maintenanceData.client.uf }}
              </td>
            </tr>
            <tr>
              <td
                class="font-bold pr-4 pt-4 whitespace-nowrap align-top text-right"
              >
                CEP:
              </td>
              <td class="align-top text-left pt-4">
                {{ maintenanceData.client.cep }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- orçamento -->
    <div>
      <h3 class="text-white font-bold">Valor da Manutenção:</h3>
      <div
        class="flex items-center w-full max-w-2xl bg-gray-400/5 px-6 py-4 gap-4 border rounded-md bg-gray-400/5 border-white/5"
      >
        <h4 class="font-bold text-white">
          {{ maintenanceData.preco | currency : "BRL" : "symbol" : "1.2-2" }}
        </h4>
      </div>
    </div>

    <!-- efetuar / redirecionar manutenção -->
    <div>
      <h3 class="text-white font-bold">Ações:</h3>
      <div
        class="flex flex-col w-full max-w-2xl bg-gray-400/5 px-6 py-4 gap-4 border rounded-md bg-gray-400/5 border-white/5"
      >
        <!-- tabs -->
        <div class="tabs flex flex-row w-full">
          <div
            class="flex flex-row w-full justify-center px-3 py-2 cursor-pointer"
            (click)="changeTab('efetuar')"
            [ngClass]="currentTab === 'efetuar' ? 'tab-active' : 'not-active'"
          >
            <h5>Efetuar Manutenção</h5>
          </div>
          <div
            class="flex flex-row w-full justify-center px-3 py-2 cursor-pointer"
            (click)="changeTab('redirecionar')"
            [ngClass]="
              currentTab === 'redirecionar' ? 'tab-active' : 'not-active'
            "
          >
            <h5>Redirecionar Manutenção</h5>
          </div>
        </div>

        <!-- tab : efetuar manutenção (RF014) -->
        <div class="flex flex-col px-3 py-4" *ngIf="currentTab === 'efetuar'">
          <label class="label-form text-white" for="descricaoManutencao">
            Descrição da Manutenção:
          </label>

          <textarea
            id="descricaoManutencao"
            name="descricaoManutencao"
            class="input-form"
            [(ngModel)]="descricaoManutencao"
            required
            maxlength="500"
            placeholder="Descreva a manutenção que foi efetuada ..."
          ></textarea>

          <label class="label-form text-white mt-4" for="orientacoes">
            Orientações para o Cliente:
          </label>

          <textarea
            id="orientacoes"
            name="orientacoes"
            class="input-form"
            [(ngModel)]="orientacoes"
            required
            maxlength="500"
            placeholder="Descreva as orientações para o cliente ..."
          ></textarea>

          <div class="flex flex-row justify-end">
            <button
              class="btn btn-secondary bg-transparent mt-4"
              [routerLink]="['/ver-solicitacoes']"
              (click)="sendMaintenance()"
            >
              Enviar
            </button>
          </div>
        </div>

        <!-- tab : redirecionar manutenção (RF015) -->
        <div
          class="flex flex-col px-3 py-4"
          *ngIf="currentTab === 'redirecionar'"
        >
          <label class="label-form text-white mt-4" for="funcionario">
            Selecione um Funcionário para redirecionar a solicitação:
          </label>

          <select
            class="input-form"
            id="funcionario"
            name="funcionario"
            [(ngModel)]="funcionarioEscolhido"
            required
          >
            <option
              *ngFor="let funcionario of funcionariosList"
              [value]="funcionario.id"
            >
              {{ funcionario.nome }} - {{ funcionario.email }}
            </option>
          </select>

          <div class="flex flex-row justify-end">
            <button
              class="btn btn-secondary bg-transparent mt-4"
              [routerLink]="['/ver-solicitacoes']"
              [disabled]="!funcionarioEscolhido"
              [ngClass]="{'btn-secondary-disabled' : !funcionarioEscolhido}"
              (click)="redirect()"
            >
              Redirecionar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-between">
      <button
        class="btn btn-secondary bg-transparent"
        [routerLink]="['/ver-solicitacoes']"
      >
        Voltar
      </button>
    </div>
  </div>
</section>
