<div class="main-content-container">
    <div class="section-container">
        <form>
            <div class="form-container">
                <div class="w-full col-span-6 p-2 border-b-2 text-center relative">
                    <h1 class="mb-2">Bem vindo!</h1>
                </div>
                <div class="input-container-lg">
                    <label class="label-form">Login:<input type="text" placeholder="email@example.com" class="input-form" /> </label>
                </div>
                <div class="input-container-lg">
                    <label class="label-form">Senha:<input type="password" placeholder="***" class="input-form" /> </label>
                </div>
                <div class="input-container-lg">
                    <button type="submit" class="btn btn-primary w-full">
                        Login
                    </button>
                    <button type="submit" class="btn btn-secondary w-full">
                        N&atilde;o possuo uma conta
                    </button>
                </div>
                <div class="input-container-lg text-center text-xs underline text-gray-500 cursor-pointer">
                    <a class="">esqueci minha senha</a>
                </div>
            </div>
        </form>
    </div>
</div>
