<section
  class="flex flex-col min-h-screen bg-opacity-100 bg-gray-900 justify-center"
>
  <div
    nfIf="solicitacao"
    class="flex flex-col w-2/4 gap-y-6 mx-auto max-w-3xl px-6 py-16"
  >
    <div class="flex flex-row justify-between">
      <h2 class="text-2xl font-semibold p-0 dark:text-white">
        Solicitação #{{ solicitacao?.id }}
      </h2>
      <div class="flex flex-row gap-6">
        <div
          *ngFor="let botao of getBotoesAcaoCliente()"
          (click)="botao.acao()"
          class="pill-purple"
        >
          <!--badge-->
          {{ botao.textoBotao }}
        </div>
      </div>
    </div>

    <div class="inline-flex items-center gap-x-4">
      <div
        [ngClass]="{
        'etiqueta-cinza': solicitacao?.estadoAtual === 'aberta',
        'etiqueta-marrom': solicitacao?.estadoAtual === 'orçada',
        'etiqueta-vermelha': solicitacao?.estadoAtual === 'rejeitada',
        'etiqueta-amarela': solicitacao?.estadoAtual === 'aprovada',
        'etiqueta-roxa': solicitacao?.estadoAtual === 'redirecionada',
        'etiqueta-azul': solicitacao?.estadoAtual === 'arrumada',
        'etiqueta-laranja': solicitacao?.estadoAtual === 'paga',
        'etiqueta-verde': solicitacao?.estadoAtual === 'finalizada',
      }"
      >
        {{ solicitacao?.estadoAtual }}
      </div>
      <p class="text-gray-400 text-md">
        Solicitação criada em
        {{
          solicitacao?.dtHrCriacao
            | date : "dd 'de' MMMM 'de' yyyy 'às' HH:mm" : "" : "pt-BR"
        }}
      </p>
    </div>

    <div
      class="relative flex flex-row px-6 py-4 gap-x-4 border rounded-md bg-gray-400/5 dark:border-white/5"
    >
      <div class="relative flex">
        <img [ngSrc]="imagemControle" width="120" height="80" />
      </div>
      <div class="flex flex-col gap-y-1 justify-center">
        <p class="text-gray-400 text-md px-6">Equipamento</p>
        <p class="text-lg font-semibold px-6 whitespace-nowrap dark:text-white">
          {{ solicitacao?.equipamento }}
        </p>
        <p class="text-gray-400 px-6 py-0 whitespace-nowrap">
          {{ solicitacao?.categoria?.nome }}
        </p>
      </div>
    </div>
    <div
      *ngIf="solicitacao?.valorOrcamento"
      class="relative flex flex-col px-6 py-4 gap-x-16 border rounded-md bg-gray-400/5 dark:border-white/5"
    >
      <p class="text-lg mb-2 dark:text-white">Orçamento</p>
      <div class="table w-full">
        <div class="table-header-group">
          <div class="table-row">
            <div class="table-cell text-sm text-gray-400 text-left">Item</div>
            <div class="table-cell text-sm text-gray-400 text-left">
              Valor unitário
            </div>
            <div class="table-cell text-sm text-gray-400 text-left">
              Quantidade
            </div>
            <div class="table-cell text-sm text-gray-400 text-right">
              Valor do item
            </div>
          </div>
        </div>
        
      </div>
      <div class="flex items-start justify-between pt-6">
        <p class="dark:text-white">Valor total</p>
        <p class="whitespace-nowrap dark:text-white">
          {{
            solicitacao?.valorOrcamento
              | currency : "BRL" : "symbol" : "1.2-2"
          }}
        </p>
      </div>
    </div>
    <div
      class="relative flex flex-col px-6 py-4 gap-x-16 border rounded-md bg-gray-400/5 dark:border-white/5"
    >
      <p class="text-lg mb-2  dark:text-white">Atualizações</p>
      <ul class="list-none m-0 p-0 gap-4">
        <li
          *ngFor="let movimentacao of getHistoricoMovimentacoes(solicitacao!)"
          class="relative flex items-start gap-x-6 p-2 justify-between"
        >
          <div class="flex flex-row gap-x-6">
            <div
              class="text-opacity-100 fill-gray-500 bg-gray-500/5 rounded-full flex-none p-1"
            >
              <div
                class="h-2 w-2 rounded-full"
                [ngClass]="{
                  'bg-gray-500': movimentacao.estadoMovimentacao === 'aberta',
                  'bg-amber-900': movimentacao.estadoMovimentacao === 'orçada',
                  'bg-red-600': movimentacao.estadoMovimentacao === 'rejeitada',
                  'bg-yellow-300':
                    movimentacao.estadoMovimentacao === 'aprovada',
                  'bg-violet-400':
                    movimentacao.estadoMovimentacao === 'redirecionada',
                  'bg-cyan-400':
                    movimentacao.estadoMovimentacao === 'arrumada',
                  'bg-orange-400': movimentacao.estadoMovimentacao === 'paga',
                  'bg-lime-400':
                    movimentacao.estadoMovimentacao === 'finalizada'
                }"
              ></div>
            </div>
            <div class="flex flex-col">
              <p class="whitespace-nowrap dark:text-white">
                Solicitação {{ movimentacao.estadoMovimentacao }}
              </p>
              <p class="text-gray-400 whitespace-nowrap">
                Realizada por {{ movimentacao.autorMovimentacao.nome }}
              </p>
            </div>
          </div>
          <p class="text-gray-400 whitespace-nowrap">
            {{
              movimentacao.dtHrMovimentacao
                | date : "dd 'de' MMMM 'de' yyyy 'às' HH:mm" : "" : "pt-BR"
            }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
<app-modal-orcamento-aprovado
  [isOpen]="isModalOrcamentoAprovadoOpen"
  [message]="mensagemModalOrcamentoAprovado"
></app-modal-orcamento-aprovado>
<app-modal-orcamento-rejeitado
  [isOpen]="isModalOrcamentoRejeitadoOpen"
  (fecha)="fechaModalRejeicao()"
  (rejeita)="handleRejeicao($event)"
>
</app-modal-orcamento-rejeitado>
<app-modal-pagamento
  [isOpen]="isModalPagamentoOpen"
  (fecha)="fechaModalPagamento()"
  [solicitacao]="solicitacao"
  (paga)="handlePagamento()"
>
</app-modal-pagamento>
