<section
  class="flex flex-col min-h-screen bg-opacity-100 bg-gray-900 justify-center"
>
  <div
    nfIf="solicitacao"
    class="flex flex-col w-2/4 gap-y-6 mx-auto max-w-3xl px-6 py-16"
  >
    <div class="flex flex-row justify-between">
      <h2 class="text-white text-2xl font-semibold p-0">
        Solicitação #{{ solicitacao?.id }}
      </h2>
      <div class="flex flex-row gap-6">
        <div
          *ngFor="let botao of getBotoesAcaoCliente()"
          (click)="botao.acao()"
          class="pill-purple"
        >
          <!--badge-->
          {{ botao.textoBotao }}
        </div>
      </div>
    </div>

    <div class="inline-flex items-center gap-x-4">
      <div
        [ngClass]="{
        'etiqueta-cinza': solicitacao?.estadoAtual === 'aberta',
        'etiqueta-marrom': solicitacao?.estadoAtual === 'orçada',
        'etiqueta-vermelha': solicitacao?.estadoAtual === 'rejeitada',
        'etiqueta-amarela': solicitacao?.estadoAtual === 'aprovada',
        'etiqueta-roxa': solicitacao?.estadoAtual === 'redirecionada',
        'etiqueta-azul': solicitacao?.estadoAtual === 'aguardando pagamento',
        'etiqueta-laranja': solicitacao?.estadoAtual === 'paga',
        'etiqueta-verde': solicitacao?.estadoAtual === 'finalizada',
      }"
      >
        {{ solicitacao?.estadoAtual }}
      </div>
      <p class="text-gray-400 text-md">
        Solicitação criada em
        {{
          solicitacao?.dtHrCriacao
            | date : "dd 'de' MMMM 'de' yyyy 'às' HH:mm" : "" : "pt-BR"
        }}
      </p>
    </div>

    <div
      class="relative flex flex-row px-6 py-4 gap-x-4 border rounded-md bg-gray-400/5 border-white/5"
    >
      <div class="relative flex">
        <img [ngSrc]="imagemControle" width="120" height="80" />
      </div>
      <div class="flex flex-col gap-y-1 justify-center">
        <p class="text-gray-400 text-md px-6">Equipamento</p>
        <p class="text-white text-lg font-semibold px-6 whitespace-nowrap">
          {{ solicitacao?.equipamento }}
        </p>
        <p class="text-gray-400 px-6 py-0 whitespace-nowrap">
          {{ solicitacao?.categoria }}
        </p>
      </div>
    </div>
    <div
      class="relative flex flex-col px-6 py-4 gap-x-16 border rounded-md bg-gray-400/5 border-white/5"
    >
      <p class="text-gray-400 text-md mb-2">Orçamento</p>
      <ul class="list-none m-0 p-0 gap-4">
        <li
          *ngFor="let itemOrcamento of solicitacao?.orcamento?.itens"
          class="relative flex items-start gap-x-6 justify-between"
        >
          <p class="text-white whitespace-nowrap">
            {{ itemOrcamento.nomeItem }}
          </p>
          <p class="text-white whitespace-nowrap">
            {{
              itemOrcamento.valorItem | currency : "BRL" : "symbol" : "1.2-2"
            }}
          </p>
        </li>
      </ul>
      <div class="flex items-start justify-between">
        <p>Valor total</p>
        <p class="text-white whitespace-nowrap">
          {{
            solicitacao?.orcamento?.valorTotal
              | currency : "BRL" : "symbol" : "1.2-2"
          }}
        </p>
      </div>
    </div>
    <div
      class="relative flex flex-col px-6 py-4 gap-x-16 border rounded-md bg-gray-400/5 border-white/5"
    >
      <p class="text-gray-400 text-md mb-2">Atualizações</p>
      <ul class="list-none m-0 p-0 gap-4">
        <li
          *ngFor="let movimentacao of solicitacao?.historicoMovimentacao"
          class="relative flex items-start gap-x-6 p-2"
        >
          <fa-icon [icon]="faCircleCheck" class="h-1 w-1 text-white"></fa-icon>
          <p class="text-white whitespace-nowrap">
            {{ movimentacao.estadoMovimentacao }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
<app-modal-orcamento-aprovado
  [isOpen]="isModalOrcamentoAprovadoOpen"
  [message]="mensagemModalOrcamentoAprovado"
></app-modal-orcamento-aprovado>
