<!--<div class="w-full bg-gray-200 rounded-full h-2">
    <div
      class="bg-blue-600 h-2 rounded-full"
      [style.width]="progress + '%'"
    ></div>
    <div class="bg-blue-600 h-2 rounded-full"></div>
 </div>-->
 



<div *ngIf="isLoading" class='w-full'>
  <div class='h-1.5 w-full bg-blue-100 overflow-hidden'>
    <div class='progress w-full h-full bg-blue-500 left-right'></div>
  </div>
  <fa-icon [icon]="faLoading"  animation="spin" class="absolute right-0 text-blue-500"></fa-icon>
</div>