<div class="min-h-screen px-6 py-16 dark:bg-gray-900 dark:bg-opacity-100">
    <section class="section-container max-w-full">
        <h1 class="flex justify-between dark:bg-gray-900 dark:bg-opacity-100">
            <span class="ml-10 text-white">
                Lista de Funcion&aacute;rios
            </span>
            <button [routerLink]="['/inserir-funcionario']" class="btn btn-primary mr-20">
                Adicionar <fa-icon [icon]="faPlus" ></fa-icon>
            </button>
        </h1>
        <app-tabela [dados]="funcionarios" [colunas]="colunas" [buttons]="buttons"></app-tabela>
    </section>
</div>