<div class="main-content-container">
    <div class="section-container">
        <form #formFuncionario = "ngForm">
            <div class="form-container">

                <div class="w-full col-span-6 p-2 border-b-2 text-center relative">
                    <h1>Editar Funcionário</h1>
                </div>

                <div class="input-container-md">
                    <label class="label-form">Nome completo
                        <input 
                            type="text" 
                            class="input-form"
                            id="name"
                            name="name" 
                            placeholder="Nome completo"
                            [(ngModel)]="funcionario.name"
                            #name="ngModel" 
                            required
                            minlength="2"
                        />
                    </label>

                    <div *ngIf="name.errors && (name.dirty || name.touched)" class="error-message">
                        <div [hidden]="!name.errors['minlenth']">
                            O nome deve conter ao menos 2 caracteres!!
                        </div>
                        <div [hidden]="!name.errors['required']">
                            Digite o nome da pessoa.
                        </div>
                    </div>

                </div>

                <div class="input-container-md">
                    <label class="label-form">E-mail
                        <input 
                            type="email" 
                            class="input-form" 
                            id="email"
                            name="email"
                            placeholder="email@exemplo.com"
                            [(ngModel)]="funcionario.email"
                            #email="ngModel" 
                            required
                        />
                    </label>

                    <div *ngIf="email.errors && (email.dirty || email.touched)" class="error-message">
                        <div [hidden]="!email.errors['required']">
                            Email no formato errado!
                        </div>
                    </div>

                </div>

                <!--
                <div class="input-container-sm">
                    <label class="label-form">Data Nascimento
                        <input 
                            type="date" 
                            class="input-form"   
                        /> 
                    </label>

                </div>
                -->
                <div class="input-container-lg">
                    <button type="button" class="btn btn-primary w-full" (click)="editarFuncionario()">
                        Editar cadastro
                    </button>
                    <button class="btn btn-secondary w-full" [routerLink]="['/manter-funcionario']">
                        Voltar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>