<div class="main-content-container">
    <div class="section-container">
        <form #formFuncionario = "ngForm">
            <div class="form-container">

                <div class="w-full col-span-6 p-2 border-b-2 text-center relative">
                    <h1>Editar Funcion&aacute;rio</h1>
                </div>

                <div class="input-container-md">
                    <label class="label-form">Nome completo
                        <input 
                            type="text" 
                            class="input-form"
                            id="name"
                            name="name" 
                            placeholder="Nome completo"
                            [(ngModel)]="funcionario.name"
                            #name="ngModel" 
                            minlength="2"
                            required
                        />
                    </label>

                    <div *ngIf="name.errors && (name.dirty || name.touched)" class="error-message">
                        <div [hidden]="!name.errors['required']">
                            Digite o nome da pessoa.
                        </div>
                        
                        <div [hidden]="!name.errors['minlength']">
                            O nome deve conter ao menos 2 caracteres. 
                        </div>
                    </div>

                </div>

                <div class="input-container-md">
                    <label class="label-form">E-mail
                        <input 
                            type="email" 
                            class="input-form" 
                            id="email"
                            name="email"
                            placeholder="email@manuetencaoeq.com.br"
                            [(ngModel)]="funcionario.email"
                            #email="ngModel" 
                            required
                        />
                    </label>

                    <div *ngIf="email.errors && (email.dirty || email.touched)" class="error-message">
                        <div [hidden]="!email.errors['required']">
                            Digite o email.
                        </div>
                    </div>

                </div>

               
                <div class="input-container-md">
                    <label class="label-form">Data Nascimento
                        <input 
                            type="date" 
                            class="input-form"  
                            id="dataNascimento"
                            name="dataNascimento" 
                            [(ngModel)]="funcionario.dataNascimento"
                            #dataNascimento="ngModel" 
                            required
                        /> 
                    </label>

                    <div *ngIf="dataNascimento.errors && (dataNascimento.dirty || dataNascimento.touched)" class="error-message">
                        <div [hidden]="!dataNascimento.errors['required']">
                            Digite sua data de nascimento.
                        </div>
                    </div>

                </div>
               
                <div class="input-container-lg">
                    <button type="button" class="btn btn-primary w-full" (click)="editarFuncionario()">
                        Editar funcion&aacute;rio
                    </button>                    
                    <button class="btn btn-secondary w-full" [routerLink]="['/manter-funcionario']">
                        Voltar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>