<section
  class="flex flex-col min-h-screen bg-opacity-100 bg-gray-900 justify-center"
>
  <div class="flex flex-col gap-y-6 mx-auto max-w-3xl px-6 py-16">
    <div class="flex flex-row justify-between items-center px-6 py-4">
      <h2 class="dark:text-white">Minhas solicitações</h2>
      <button class="pill-purple" [routerLink]="['/solicitacao/cadastrar']">
        Nova solicitação
      </button>
    </div>
  
    <ul class="list-none m-0 p-0">
      <li
        *ngFor="let solicitacao of solicitacoes"
        [routerLink]="['/solicitacao', solicitacao.id]"
        class="relative flex items-center px-6 py-4 gap-x-16 border-b cursor-pointer hover:bg-gray-400/5 dark:border-white/5"
      >
        <div class="min-w-0 flex-auto">
          <!--info container-->
          <div class="flex items-center gap-x-3">
            <div
              class="text-opacity-100 fill-gray-500 bg-gray-500/5 rounded-full flex-none p-1"
            >
              <div
                class="h-2 w-2 rounded-full"
                [ngClass]="{
                  'bg-gray-500': solicitacao.estadoAtual === 'aberta',
                  'bg-amber-900': solicitacao.estadoAtual === 'orçada',
                  'bg-red-600': solicitacao.estadoAtual === 'rejeitada',
                  'bg-yellow-300': solicitacao.estadoAtual === 'aprovada',
                  'bg-violet-400': solicitacao.estadoAtual === 'redirecionada',
                  'bg-cyan-400': solicitacao.estadoAtual === 'aguardando pagamento',
                  'bg-orange-400': solicitacao.estadoAtual === 'paga',
                  'bg-lime-400': solicitacao.estadoAtual === 'finalizada'
                }"
              ></div>
            </div>
            <h5
              class="min-w-0 text-sm font-semibold leading-6 text-opacity-1 dark:text-white"
            >
              <a class="flex gap-x-2 text-inherit">
                <span class="overflow-hidden text-ellipsis whitespace-nowrap">{{
                  solicitacao.categoria?.nome
                }}</span>
                <span class="text-opacity-1 text-gray-400">/</span>
                <span class="whitespace-nowrap"
                  >Solicitação {{ solicitacao.estadoAtual }}</span
                >
                <span class="absolute"></span>
              </a>
            </h5>
          </div>
          <div
            class="mt-3 flex items-center gap-x-2.5 text-sm leading-5 text-opacity-1 text-gray-500 dark:text-gray-300"
          >
            <p class="overflow-hidden text-ellipsis whitespace-nowrap">
              Aberta em  {{ solicitacao.dtHrCriacao | date: 'dd/MM/yyyy \'às\' HH:mm' : '' : 'pt-BR' }}</p>
            <svg viewBox="0 0 2 2" class="h-1 w-1 flex-none fill-gray-300">
              <circle r="1" cx="1" cy="1"></circle>
            </svg>
            <p class="whitespace-nowrap">
              Atualizada {{ calculaDiasDesdeUltimaMovimentacao(solicitacao) }} dias
              atrás
            </p>
          </div>
          <p
            class="overflow-hidden text-ellipsis whitespace-nowrap text-sm text-gray-400"
          >
            {{ solicitacao.descricaoEquipamento }}
          </p>
        </div>
        <div *ngIf="shouldShowActionButton(solicitacao)" class="pill-purple">
          <!--badge-->
          {{ getActionText(solicitacao) }}
        </div>
        <div class="flex flex-row gap-x-1">
          <p
            class="text-sm leading-5 text-opacity-1 text-gray-400 overflow-hidden text-ellipsis whitespace-nowrap"
          >
            Visualizar
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            class="w-5 h-5 flex-none text-opacity-1 text-gray-400"
          >
            <path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
